body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4fc;
}

.principal{
  display: flex;
}

.izquierda{
  
  background-color: white;
  height: 680px;
  width: 300px;
  
}
.derecha{
    background-color: red;
    height: 944px;
    width: 400px;
    margin: 24px;
    
}

